<div class="col-6">
  <div class="meow-data ps-3">
    {{!-- 上半部 --}}
    <div class="meow-data-top mt-4 mb-3">
      <div class="meow-title text-center p-2">
        <h3>{{meow.name}}</h3>
      </div>
    </div>

    {{!-- 下半部 --}}
    <div class="meow-data-bottom boder">
      <div class="meow-bar d-flex justify-content-center">
        <div class="meow-gender" style="background-color: lightblue; border-radius: 20px 0 0 0;">{{{genderIcon
          meow.gender}}} </div>
        <div class="meow-neuter" style="background-color: rgb(125, 205, 232);">{{{neuterIcon meow.neuter}}}</div>
        <div class="meow-age" style="background-color: rgb(78, 187, 223); border-radius: 0 20px 0 0;">{{meow.age}}
        </div>
      </div>
      <div class="meow-detail p-3 mb-2">
        <div class="meow-friendly mb-3">
          <i class="fa-solid fa-paw me-1" style="color: #ff5290;"></i>
          <span class="text-14px-reg">親人度：</span>{{{generateIcons meow.friendly}}}
        </div>
        <div class="meow-location mb-3">
          <i class="fa-solid fa-paw me-1" style="color: #ff5290;"></i>
          <span class="text-14px-reg">出沒點：</span>{{meow.location}}
        </div>
        <div class="meow-intro">
          <i class="fa-solid fa-paw me-1" style="color: #ff5290;"></i>
          <span class="text-14px-reg">簡介：</span>{{meow.intro}}
        </div>
      </div>
    </div>
  </div>
</div>