{{!-- 街貓暱稱 --}}
<div class="form-row mb-2">
  <label class="form-label text-14px-reg color-dark-80" for="name"><i class="fa-solid fa-paw me-1"
      style="color: #ff5290;"></i>街貓暱稱</label>
  <input class="form-input text-16px-reg" id="name" type="text" name="name" placeholder="請輸入街貓暱稱"
    value="{{ meow.name }}" required>
</div>

{{!-- 上傳頭貼 --}}
<div class="form-row mb-2">
  <label class="form-label text-14px-reg color-dark-80" for="avatar"><i class="fa-solid fa-paw me-1"
      style="color: #ff5290;"></i>上傳頭貼</label>
  <input class="form-input btn btn-outline-main" type="file" name="avatar" id="avatar" value="{{ meow.avatar }}"
    required>
</div>

{{!-- 性別 --}}
<div class="form-row mb-2">
  <fieldset class="form-group mb-1" id="gender" name="gender">
    <legend class="form-label text-14px-reg color-dark-80" for="gender"><i class="fa-solid fa-paw me-1"
        style="color: #ff5290;"></i>性別</legend>
    <div class="d-flex mt-1">
      <div class="form-check form-check-inline">
        <input class="" name="gender" type="radio" id="male" value="male">
        <label class="form-check-label text-14px-reg color-dark-80" for="male">
          公
        </label>
      </div>

      <div class="form-check form-check-inline">
        <input class="" name="gender" type="radio" id="female" value="female">
        <label class="form-check-label text-14px-reg color-dark-80" for="female">
          母
        </label>
      </div>

      <div class="form-check form-check-inline">
        <input class="" name="gender" type="radio" id="unknown" value="unknown">
        <label class="form-check-label text-14px-reg color-dark-80" for="unknown">
          不清楚
        </label>
      </div>
    </div>
  </fieldset>
</div>

<!-- 結紮 -->
<div class="form-row mb-2">
  <fieldset class="form-group mb-1" id="neuter" name="neuter">
    <legend class="form-label text-14px-reg color-dark-80" for="neuter"><i class="fa-solid fa-paw me-1"
        style="color: #ff5290;"></i>結紮</legend>
    <div class="d-flex mt-1">
      <div class="form-check form-check-inline">
        <input class="" name="neuter" type="radio" id="neuterd" value="neuterd">
        <label class="form-check-label text-14px-reg color-dark-80" for="neuterd">
          已結紮
        </label>
      </div>

      <div class="form-check form-check-inline">
        <input class="" name="neuter" type="radio" id="unNeutered" value="unNeutered">
        <label class="form-check-label text-14px-reg color-dark-80" for="unNeutered">
          未結紮
        </label>
      </div>

      <div class="form-check form-check-inline">
        <input class="" name="neuter" type="radio" id="unknown" value="unknown">
        <label class="form-check-label text-14px-reg color-dark-80" for="unknown">
          不清楚
        </label>
      </div>
    </div>
  </fieldset>
</div>
{{!-- 親人程度 --}}
<div class="form-row mb-2">
  <fieldset class="form-group mb-1" id="friendly" name="friendly">
    <legend class="form-label text-14px-reg color-dark-80" for="friendly"><i class="fa-solid fa-paw me-1"
        style="color: #ff5290;"></i>親人程度</legend>
    <div class="d-flex mt-1">
      <div class="form-check form-check-inline">
        <input class="" name="friendly" type="radio" id="1" value="1">
        <label class="form-check-label text-14px-reg color-dark-80" for="1">
          1 極不親
        </label>
      </div>

      <div class="form-check form-check-inline">
        <input class="" name="friendly" type="radio" id="2" value="2">
        <label class="form-check-label text-14px-reg color-dark-80" for="2">
          2 稍微不親
        </label>
      </div>

      <div class="form-check form-check-inline">
        <input class="" name="friendly" type="radio" id="3" value="3">
        <label class="form-check-label text-14px-reg color-dark-80" for="3">
          3 普通
        </label>
      </div>

      <div class="form-check form-check-inline">
        <input class="" name="friendly" type="radio" id="4" value="4">
        <label class="form-check-label text-14px-reg color-dark-80" for="4">
          4 稍微親人
        </label>
      </div>

      <div class="form-check form-check-inline">
        <input class="" name="friendly" type="radio" id="5" value="5">
        <label class="form-check-label text-14px-reg color-dark-80" for="5">
          5 極親人
        </label>
      </div>
    </div>
  </fieldset>
</div>

{{!-- 花色 --}}
<div class="form-row mb-2">
  <label class="form-label text-14px-reg color-dark-80" for="color"><i class="fa-solid fa-paw me-1"
      style="color: #ff5290;"></i>花色</label>
  <select class="form-control" id="color" name="color" required>
    <option>白貓</option>
    <option>黑貓</option>
    <option>橘貓</option>
    <option>賓士貓</option>
    <option>三花貓</option>
    <option>玳瑁貓</option>
    <option>白底虎班</option>
    <option>灰底虎班</option>
    <option>棕底虎班</option>
    <option>其他</option>
  </select>
</div>

{{!-- 預估年紀 --}}
<div class="form-row mb-2">
  <label class="form-label text-14px-reg color-dark-80" for="age"><i class="fa-solid fa-paw me-1"
      style="color: #ff5290;"></i>預估年紀</label>
  <input class="form-input text-16px-reg" id="age" name="age" placeholder="請輸入預估年紀" value="{{ meow.age }}" required>
</div>

{{!-- 簡介 --}}
<div class="form-row mb-2">
  <label class="form-label text-14px-reg color-dark-80" for="intro"><i class="fa-solid fa-paw me-1"
      style="color: #ff5290;"></i>簡介</label>
  <textarea class="form-control text-16px-reg" id="intro" name="intro" required>{{ meow.intro }}</textarea>
</div>

{{!-- 出沒地址 --}}
<div class="form-row mb-2">
  <label class="form-label text-14px-reg color-dark-80" for="location">
    <i class="fa-solid fa-paw me-1" style="color: #ff5290;"></i>
    出沒地址
    <span class="text-12px-reg-light">(輸入地址或拖移下列地圖　以定位經緯度)</span>
  </label>
  <div class="d-flex mt-1">
    <div class="ms-2">
      <span class="text-12px-reg color-dark-80">緯度</span>
      <input class="latitude-form" type="text" id="latitude-form" name="latitude" readonly>
    </div>
    <div class="ms-5">
      <span class="text-12px-reg color-dark-80">經度</span>
      <input class="longitude-form" type="text" id="longitude-form" name="longitude" readonly>
    </div>
  </div>
  <div class="location-form mt-2">
    <form>
      <div class="col-10 me-3" style="float: left;">
        <input class="form-input text-16px-reg" id="search-location" type="text" name="location"
          placeholder="請輸入地址或拖移下列地圖" value="{{ meow.location }}" required>
      </div>
      <div class="col-auto me-2">
        <button class="btn btn-pill-main pt-1 pb-1" id="search-button" type="submit">搜尋</button>
      </div>
    </form>
  </div>
  {{!-- google map viewport --}}
  <div id="map" class="form-control mt-2 mb-3"></div>
</div>

{{!-- 建立檔案 --}}
<button class="pill-default pill-main mt-3 mb-3" id="create-button" type="submit">建立檔案</button>