{{!-- 我新增的街貓照片區 --}}
<div class="image-panel shadow-sm card" style="min-height: 300px;">
  <div class="card-header" style="background-color: #ff9728;">
    <i class="fa-solid fa-paw me-1" style="color: #ffffff;"></i>
    <span class="text-16px-reg-white">我上傳的街貓照片</span>
  </div>
  {{#if image}}
  <div class="card-body d-flex flex-wrap" id="">

    {{#each image}}
    {{!-- 左邊頭貼 --}}
    <div class="col-3 p-2">
      <div class="meow-card d-flex" style="width:auto; height: 100px;">
        <a href="{{this.image}}" target="_blank" class="col-6 meow-card-frame">
          {{{imgOrVideo this.image 'meow-upload-img'}}}
        </a>
        {{!-- 右邊資料 --}}
        <div class="col-6 ps-2 meow-upload-simple-data">
          <div class="meow-name"><span class="text-16px-reg-light">{{this.Meow.name}}</span></div>
          <button type="button" class="btn-pill-main mt-1 p-1 ms-1 deleteImageButton" style="border-radius: 5px;"
            data-bs-toggle="modal" data-bs-target="#deleteImageModal" value="{{this.id}}">Delete</button>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  {{else}}
  <div class="card-body no-data d-flex flex-wrap" id="">
    <span class="text-16px-med-gray">(0 張照片)</span>
  </div>
  {{/if}}
</div>