{{> user-avatar-modal}}
{{#if user}}
<div class="d-flex flex-column align-items-center p-3" style="height: 100%;">

  <div class="user-avatar d-flex flex-column align-items-center mb-5">
    <button id="userAvatarButton" type="button" class="userAvatarButton" data-bs-toggle="modal"
      data-bs-target="#userAvatarButton" value="{{user.id}}">
      <img src="{{user.avatar}}" class="user-avatar-img" alt="">
    </button>
    <span class="user-account text-16px-med-gray mt-2">@{{user.account}}</span>
  </div>

  <div class="mt-2 mb-3 text-16px-med">
    <a href="/search">
      <h6><i class="fa-solid fa-cat me-1"></i>搜尋街貓</h6>
    </a>
  </div>
  <div class="mb-3 text-16px-med">
    <a href="/users/meows/create">
      <h6><i class="fa-solid fa-cat me-1"></i>上傳街貓</h6>
    </a>
  </div>
  <div class="mb-3 text-16px-med">
    <a href="/users/{{user.id}}/meows">
      <h6><i class="fa-solid fa-cat me-1"></i>我的街貓</h6>
    </a>
  </div>
  <div class="mb-3 text-16px-med">
    <a href="/users/{{user.id}}/missings">
      <h6><i class="fa-solid fa-cat me-1"></i>刊登協尋</h6>
    </a>
  </div>
</div>
{{else}}
<div class="d-flex flex-column align-items-center p-3" style="height: 100%;">
  <div class="user-avatar mb-5">
    <img src="https://i.imgur.com/i7ru4dl.jpeg" class="user-avatar-img" alt="">
    <a href="/signup" class="user-account mt-2">
      <span class="text-16px-med-gray">註冊/登入享更多功能</span>
    </a>
  </div>
  <div class="mb-3 text-16px-med">
    <a href="/search">
      <h6><i class="fa-solid fa-cat me-1"></i>搜尋街貓</h6>
    </a>
  </div>
  <div class="mb-3 text-16px-med">
    <a href="/users/meows/create">
      <h6><i class="fa-solid fa-cat me-1"></i>上傳街貓</h6>
    </a>
  </div>
  <div class="mb-3 text-16px-med">
    <a href="/">
      <h6><i class="fa-solid fa-cat me-1"></i>我的街貓</h6>
    </a>
  </div>
  <div class="mb-3 text-16px-med">
    <a href="/">
      <h6><i class="fa-solid fa-cat me-1"></i>刊登協尋</h6>
    </a>
  </div>
</div>
{{/if}}